<div class="article-holder" *ngFor="let article of articles">

  <div class="article-layout">
    <div class="article-text">
        <h2>{{article.title}}</h2>
        <p>{{article.description}}</p>
    </div>
    <div class="article-image">
        <img *ngIf="article.urlToImage > ''" src={{article.urlToImage}} alt="article pic" />
    </div>
  </div>

  <a href="{{article.url}}" target="_blank">Read full article.</a>
</div>



<!-- author: "Some Name"
content: "full content of article"
description: "summary of article"
publishedAt: "2019-10-15T23:51:52Z"
source: {id: "techcrunch", name: "TechCrunch"}
title: "title of article"
url: "https://techcrunch.com/2019/10/15/brazilian-unicorn-ebanx-will-hit-2-billion-in-payments-processed-by-the-end-of-the-year/"
urlToImage: "https://techcrunch.com/wp-content/uploads/2019/10/7378104730_f4654718de_h.jpg?w=567" -->
