/* You can add global styles to this file, and also import other style files */
body {
  background:#147;
  color: #fff;
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.wrapper {
  margin:0 auto;
  padding:20px;
  background:#fff;
  color:#333;
  max-width:800px;
  min-width:300px;
  font-size:1rem;
}
h1, h2 {color:#147;font-family:sans-serif;margin:0;}
h1 {font-size:1.7rem;margin-bottom:20px;}
h2 {font-size:1.2rem;}

.article-holder {
  border-bottom: 1px solid #147;
  margin-bottom:20px;
  padding-bottom:10px;
}

.article-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.article-text {
  margin:0 20px 0 0;
  flex-basis:300px;
  flex-grow:4;
}
.article-image {
  flex-basis:200px;flex-grow:1;
}
.article-layout img {width:100%;height:auto;}
